
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home Page</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/assets/styles/stylesheet.css">
	</head>
	<body>
    <%- include ('partials/header.ejs'); %>
    <%- include ('partials/navigation.ejs') -%>
		<main id="setHeight">
      <div>
        <img src="/assets/images/ema.jpg" alt="Events Manager Application">
      </div>
			<div id="alignCenter">
			<h2>
				Welcome to the Events Manager Application.
			</h2>
      <div id="mainPara">
			<p>
        Events Manager Application allows you to organize, manage events.
			</p>
		</div>
			</div>
		</main>
   <%- include ('partials/footer.ejs'); -%>
	</body>
</html>
